.logo {
    position: relative;
    height: 100px;
    top: 20px;
    left: 20px;
    border-radius:100%;
  }

.signin {
    top: 3px;
    
}
.search {
    position:absolute;
    padding-bottom: 6px;
    /* padding-top: 6px; */
    /* height: 70px; */
    top: 100px;
    left:450px;
    background-color:rgb(2, 46, 55);

}
.filter {
    position: relative;
    bottom: 30px;

}